---
layout: default
---

<article class="post">

  <!-- Judul -->
  <h1 class="post-title">{{ page.title }}</h1>

  {% include post-meta.html post=page %}
  {{ content }}

</article>

<style>
.post-date {
  color: #777;
  font-size: 0.9rem;
}

.post-title {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.post-tags {
  margin-bottom: 0.8em;
}

.post-tags .tag {
  font-size: 0.85rem;
  margin-right: 6px;
  background: #ff3366;
  border-radius: 40px;
  padding: 5px 10px;
  color: var(--text-light);
}

.post-author {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 2em 0;
}

.author-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.author-name {
  font-size: 0.95rem;
}

.post-content {
  margin-top: 1em;
}
</style>
